body {
  background-color: rgb(77, 70, 8);
}

/* h1 {
	display: flex;
	align-items: center;
	justify-content: center;
} */

.mainContainer {
  height: 100vh;
  display: grid;
  grid-template: auto / repeat(5, 1fr);
  grid-template-areas:
    'banner banner banner banner banner'
    'sliders nav nav nav saved'
    'sliders map map map saved'
    'sliders map map map saved'
    'sliders map map map saved'
    'footer footer footer footer footer';
}

#nav {
  background-color: purple;
  grid-area: nav;
}

#banner {
  background-color: red;
  grid-area: banner;
}

#sliders {
  background-color: orange;
  grid-area: sliders;
}

#map {
  background-color: white;
  grid-area: map;
  display: flex;
  justify-content: center;
}

#saved {
  background-color: blue;
  grid-area: saved;
}

#footer {
  background-color: red;
  grid-area: footer;
}

/* #board-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
} */

#button {
  background-color: rgb(188, 210, 91);
}

#signup-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cavern {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 600px;
  height: 600px;
}
.box#wall {
  width: 10px;
  height: 10px;
  background-color: rgb(60, 60, 60);
}

.box#space {
  width: 10px;
  height: 10px;
  background-color: rgb(155, 155, 155);
}
