body {
    background-color: rgb(8, 7, 4);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke
}

label {
    color: whitesmoke
}

.login-signup {
    margin-top: 35vh;
}

#board-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    background-color: rgb(188, 210, 91);
}


#signup-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 10px;
    height: 10px;
}

#wall {
    background-color: black;
}

#space {
    background-color: whitesmoke;
}

.cavern {
    width: 600px;
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
}